## Questions i want to answer using immoscout data

I will focus only on berlin related data:

1) Where are most apartments located (Area, street, plz)
2) What is the rent price range for Berlin apartments
3) What are the most common type of apartments offered (ground floor, rooftop, ect..)
4) What is the overall trend in rental prices? is it going up? why?
5) What are the most requested documents to apply? (Check discription for key words)
6) Which month has the highest number of listings? 
7) Build a model that can predict the rental price based on key features(regression)

I have two datasets scraped from immoscout24

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

## Data exploration

In [75]:
#Upload all datasets you have
data1 = pd.read_csv('Data/immo_data.csv')
data2 = pd.read_csv('Data/apr20_rental_no_duplicates.csv')

C:\Users\moham\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning:

Columns (36,84,85) have mixed types.Specify dtype option on import or set low_memory=False.

Check every data set and see which coulmns they have in common

### Dataset 1

In [76]:
data1.head(2)

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,firingTypes,hasKitchen,geo_bln,cellar,yearConstructedRange,baseRent,houseNumber,livingSpace,geo_krs,condition,interiorQual,petsAllowed,street,streetPlain,lift,baseRentRange,typeOfFlat,geo_plz,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,garden,livingSpaceRange,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.0,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,840.0,1965.0,96107057,1.0,oil,False,Nordrhein_Westfalen,True,2.0,595.0,244,86.0,Dortmund,well_kept,normal,NaN,Sch&uuml;ruferstra&szlig;e,Schüruferstraße,False,4,ground_floor,44269,4.0,181.4,1.0,3.0,4,True,4,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.0,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,NaN,1871.0,111378734,2.0,gas,False,Rheinland_Pfalz,False,1.0,800.0,NaN,89.0,Rhein_Pfalz_Kreis,refurbished,normal,no,no_information,NaN,False,5,ground_floor,67459,3.0,NaN,NaN,NaN,3,False,4,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19

In [77]:
# Check main characteristics of dataset
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

In [78]:
# Check measures of central tendency and variation
data1.describe()

,serviceCharge,telekomHybridUploadSpeed,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,yearConstructedRange,baseRent,livingSpace,baseRentRange,geo_plz,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,livingSpaceRange,heatingCosts,lastRefurbish,electricityBasePrice,electricityKwhPrice
count,261941.000000,45020.0,268850.000000,267018.000000,235492.000000,2.283330e+05,211805.000000,2.688500e+05,93052.000000,211805.000000,2.688500e+05,268850.000000,268850.000000,268850.000000,268850.000000,162344.000000,217541.000000,171118.000000,268850.000000,268850.000000,85518.000000,80711.000000,46846.000000,46846.000000
mean,151.206113,10.0,9.791958,3.389001,28.804928,9.013315e+02,1966.400590,1.069697e+08,1.327634,3.714544,6.941294e+02,74.355548,3.765256,37283.022235,2.641261,114.749533,2.122405,3.572319,2.571542,3.070790,76.990866,2013.904536,89.113612,0.199769
std,308.295790,0.0,6.408399,1.964874,16.337151,3.323833e+04,46.992207,1.250093e+07,8.361403,2.738134,1.953602e+04,254.759208,2.214357,27798.037296,2.633440,61.653663,3.634934,6.375496,0.937594,1.407127,147.716278,10.963125,5.395805,0.009667
min,0.000000,10.0,0.000000,-12.330000,1.000000,0.000000e+00,1000.000000,2.887174e+07,0.000000,1.000000,0.000000e+00,0.000000,1.000000,852.000000,1.000000,0.100000,-1.000000,0.000000,1.000000,1.000000,0.000000,1015.000000,71.430000,0.170500
25%,95.000000,10.0,6.000000,2.000000,10.000000,4.698000e+02,1950.000000,1.066910e+08,1.000000,1.000000,3.380000e+02,54.000000,2.000000,9128.000000,2.000000,79.000000,1.000000,2.000000,2.000000,2.000000,54.000000,2012.000000,90.760000,0.191500
50%,135.000000,10.0,9.000000,3.390000,40.000000,6.500000e+02,1973.000000,1.111584e+08,1.000000,3.000000,4.900000e+02,67.320000,3.000000,38667.000000,3.000000,107.000000,2.000000,3.000000,3.000000,3.000000,70.000000,2017.000000,90.760000,0.198500
75%,190.000000,10.0,13.000000,4.570000,40.000000,9.850000e+02,1996.000000,1.137688e+08,1.000000,5.000000,7.990000e+02,87.000000,5.000000,57072.000000,3.000000,140.300000,3.000000,4.000000,3.000000,4.000000,90.000000,2019.000000,90.760000,0.205500
max,146118.000000,10.0,121.000000,14.920000,100.000000,1.575154e+07,2090.000000,1.157117e+08,2241.000000,9.000000,9.999999e+06,111111.000000,9.000000,99998.000000,999.990000,1996.000000,999.000000,999.000000,5.000000,7.000000,12613.000000,2919.000000,90.760000,0.227600

Just by checking some of the coulmns it is clear that the data contains outliers and missing values that we will need to correct or remove. This is very common in webscraped data.

## Checking for missing values

In [ ]:
#check for missing values
# Yellow = NAN value
plt.figure(figsize = (15,10))
sns.heatmap(data1.isnull(),
            yticklabels=False,
            cbar=False,
            cmap='viridis');

The following columns have too many missing values or are not very important to my goal:

- telekomTvOffer
- telekomHybridUploadSpeed
- noParkSpaces
- telekomUploadSpeed
- houseNumber
- thermalChar
- heatingCosts 
- energyEfficiencyClas
- lastRefurbish 
- electricityBasePrice 
- electricityKwhPrice
- facilities
- livingSpaceRange          
- baseRentRange
- noRoomsRange
- street

I will remove hese columns from the dataset

In [ ]:
df_immo1 = data1.drop(['telekomTvOffer', 'telekomHybridUploadSpeed', 'noParkSpaces', 
                       'telekomUploadSpeed', 'houseNumber', 'thermalChar','heatingCosts', 
                       'energyEfficiencyClass', 'lastRefurbish', 'electricityBasePrice', 
                       'electricityKwhPrice', 'facilities', 'noRoomsRange', 'baseRentRange',
                      'livingSpaceRange','street'], axis = 1)
df_immo1.head()


Check all columns that contain location info and see if there are any duplicates

In [ ]:
df_immo1[['regio1','geo_bln','geo_krs', 'geo_plz', 'regio2', 'regio3' ]].head()

In [ ]:
#remove geo_bln and geo_krs
df_immo1.drop(['geo_bln','geo_krs'], axis = 1, inplace = True)

In [ ]:
#check all columns left in dataset
df_immo1.head()

## Dataset2

In [ ]:
data2.head()

In [ ]:
data2.columns

In [ ]:
#Remove Unnamed: column
data2.drop('Unnamed: 0', axis = 1, inplace = True)

In [ ]:
#check for missing values
# Yellow = NAN value
plt.figure(figsize = (20,10))
sns.heatmap(data2.isnull(),
            yticklabels=False,
            cbar=False,
            cmap='viridis');

In [ ]:
data2.info()

In [ ]:
#Remove the word obj_ from column names so that it matches the other dataset column names
cols = []
for name in data2.columns.values:
    if 'obj' in name:
        cols.append((name.split('obj_'))[1])
    else:
        cols.append(name)

# Rename columns with new format
keys = data2.columns.values
values = cols
d = dict(zip(keys, values))        

data2.rename(columns = d, inplace = True)

In [ ]:
#Rename beschreibung column to description
data2.rename(columns = {'beschreibung': 'description' }, inplace = True)

In [ ]:
df_immo1.columns

In [ ]:
# Keep only columns we kept in the other dataset
df_immo2 = data2[['regio1', 'serviceCharge', 'heatingType', 'newlyConst', 'balcony',
       'picturecount', 'pricetrend', 'totalRent', 'yearConstructed', 'scoutId',
       'firingTypes', 'hasKitchen', 'cellar', 'yearConstructedRange',
       'baseRent', 'livingSpace', 'condition', 'interiorQual', 'petsAllowed',
        'streetPlain', 'lift', 'typeOfFlat', 'geo_plz', 'noRooms',
       'floor', 'numberOfFloors', 'garden', 'regio2', 'regio3', 'description']]
df_immo2.head()

In [ ]:
# add date column 
# every the data was scraped in April 2020 so all the values should be 'Apr20'
df_immo2['date'] = df_immo2.index.map(lambda x : 'Apr20')
df_immo2

# Join both datasets

In [ ]:
immo_data = pd.concat([df_immo1, df_immo2], axis = 0)
immo_data.head()

In [ ]:
#check for duplicates in scoutID and keep first occurrence
immo_data.drop_duplicates(subset ="scoutId", inplace = True)

In [ ]:
sum(immo_data.duplicated(subset=['scoutId']))

In [ ]:
immo_data.head(1)

**Now i will change any yes/no and True/False values to 0 and 1**

In [ ]:
d = {True:1 , 'y':1, False: 0 ,'n': 0}
cols = ['newlyConst', 'balcony','hasKitchen', 'cellar','lift', 'garden']
immo_data[cols] = immo_data[cols].replace(d)

In [ ]:
immo_data.head()

In [ ]:
#check for missing values
# Yellow = NAN value
plt.figure(figsize = (15,10))
sns.heatmap(immo_data.isnull(),
            yticklabels=False,
            cbar=False,
            cmap='viridis');

In [ ]:
immo_data.info()

In [ ]:
x = immo_data[(immo_data['totalRent'] < 5000) & 
              (immo_data['totalRent'] > 200) &
             (immo_data['regio1'] == 'Berlin')]['totalRent'][:200]
y = immo_data[(immo_data['livingSpace'] < 200) & 
              (immo_data['livingSpace'] > 10)&
             (immo_data['regio1'] == 'Berlin')]['livingSpace'][:200]



sns.jointplot(x = x, y = y)

In [ ]:
immo_data[(immo_data['totalRent'] < 600) & 
          (immo_data['livingSpace'] > 50) & 
          (immo_data['regio1'] == 'Berlin')] [['livingSpace','totalRent', 'geo_plz']].sort_values('livingSpace')

In [ ]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import cufflinks as cf
init_notebook_mode(connected=True)
cf.go_offline()
import plotly.express as px

In [ ]:


import pandas as pd
from plotly.subplots import make_subplots
import plotly.express as px
import plotly.graph_objs as go
import plotly.io as pio

#pio.renderers.default = 'jupyterlab'

df = immo_data[(immo_data['regio1'] == 'Berlin')]
df['geo_plz'] = df['geo_plz'].apply(str)
# data strucutre
dfg=df.groupby('geo_plz').count().reset_index()
#dfg=dfg.rename(columns={"User": "Users"})

# plot structure
fig = px.bar(dfg,
             x='geo_plz',
             y='totalRent',
             title='Test',
             #color='Items',
             barmode='stack')

# plot
fig.show()